body {
    background-color: #818181;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    background: url('./background.jpg');
}

.login-container {
     
        border-radius: 15px;
        width: 450px;
        padding:1dvb;
        border: none;
}
  
  
  h1 {
  font-size: 18;
    flex-grow: 1;
    text-align: center;
    display: flex;
    margin: 20px;
    align-items: center;

  }
  
  .input-group {
    margin: 25px; 
 
  }
  
  label {
 padding: 10px;
    color: #000000; 
    display: block;
    margin: 4px 0;
  }
  
  input {
    width: 320px; 
    padding-left: 40px; 
    padding-right: 40px;
    border: 1px solid #ffffff; 
    border-radius: 5px; 
    font-size: 15px;

  }
  .button-container{
    padding: 10px;
    cursor: pointer;
  
    display: flex;
    justify-content: space-between;
   align-items: center;
   
  }

  button {
    
     color: rgb(0, 0, 0); 
    border: none;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    
    
    width:200px;
    background-color: #a746a2;
  }

.button-link {
width: 200px;    
    color: rgb(0, 0, 0); 
    border: none;
 
    font-size: 14px;
  
    background-color: #a746a2;
    border-radius: 5px;
 
    padding: 10px 15px;
  
    text-decoration: none;
    border: none;

  }
  button:hover {
    background-color: #a746a2;
}
  
  .button-link:hover {
    background-color: #a746a2;
  }

  

  .error-message {
    color: red; 
    text-align: center; 
  }